.el-input__inner{
    background-color: #0C3481;
    opacity: 0.8;
    color: #fff;
    text-align: center;
}
.el-date-picker{
    background-color: #0C3481;
}
.el-date-picker__header-label{
    color:#fff
}
.el-picker-panel__icon-btn{
    color:#fff
}
.el-month-table td .cell{
    color:#fff;
}
.el-input__icon{
    margin-right: 10px ;
}